Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
UseTab: Never
